<body>
	<p id="greet<!-- ing"></p>
	<p>Username</p> 
	<input type="text" id="Username" value="">
	<p>Password</p> 
	<button onclick="Login_button()">Login</button>
</body>
<script>
	// ;
	// // let response;
 
	// let data = await
	// .then(data => data);
	// // .then((response) => response.json());
	// // await data;
	// document.getElementById("greeting").innerHTML = data;
	// // alert("This alert box was called with the onload event");

	function Login_button() {
		var x = document.getElementById("Username").value;
		console.log(x)
	}


</script>